/* Sirve para mantener autoajustados los elementos que se agregen */
/* */
:root{
    --primario: #C2185B;
    --secundario: #FFC107;
    --fuentePrimaria: 'Arial', Helvetica, sans-serif;
    --fuenteSecundaria: font-family: 'Sigmar One', cursive;
    --primarioOscuro: rgb(156,10,69);
}

html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
/*Color referenciado a la CUSTOM PROPERTY */
body {
    background-color: var(--primario);
    font-family: var(--fuentePrimaria);
}
/*USO DE CSS MATIC */
.contenedor{
    max-width: 1100;
    margin: 0 auto;
}
/*USO DE CUSTOM PROPERTIES para hacer cambios una sola vez */
.bg-amarillo{
    background-color: var(--secundario);
}

.sombra{
    border-radius: 15px 15px 15px 15px;
-moz-border-radius: 15px 15px 15px 15px;
-webkit-border-radius: 15px 15px 15px 15px;
border: 0px solid #000000;
border-radius: 10px;
}
h1,h2{
    font-family: var(--fuentePrimaria);
    text-align: center;
    margin: 0;
}
h1{
    padding: 20px;
    color: white;
}
.contenedor-barra{
background-color: var(--primarioOscuro);
}


/*FORMULARIO*/
form{
    padding: 3rem;
    margin-top: 2rem;
}
form legend{
    margin-left: 50%;
    transform: translateX(-50%);
    font-family: var(--fuente-secundaria);
    font-size: 2rem;
    text-align: center;
  } 

legend span{
    font-size: 1rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    clear: both;
    display: block;
}

@media (min-width: 768px){
    .datos{
        display: flex;
        justify-content: space-between;
    }

    /*Flex es como padding ya que ajusta todo*/
    .campo{
        flex: 0 0 calc(33.3% - 1rem);
    }
}

.campo{
    padding: .5 rem 0;
}
.campo label{
    font-size: 1.2 rem;
}

.campo input[type="text"],
.campo input[type="tel"]{
    width: 100%;
    border: none;
    padding: .5rem;
    height: 3rem;
    margin-top: .5rem;
    font-size: 1.2rem;
}

.enviar{
    display: flex;
    justify-content: flex-end;
}

.campo input[type="submit"]{
    background-color: var(--primario);
    border: none;
    color: white;
    padding: 1rem 4rem;
    margin-top: .5rem;
    text-transform: uppercase;
    font-size: 1.2rem;
    transition: background-color .5s ease-in-out;
    flex: 1;
}

.campo input[type="submit"]:hover{
cursor: pointer;
background-color: var(--primarioOscuro);
}
 /*Se auto ajusta en base al padding y la cantidad de texto*/
@media (min-width: 768px){
    .campo input[type="submit"]{
    flex: 0 0 auto;
    }
}